#include "resource.h"

IDI_APP ICON "resources\\app_icon.ico"
1 RT_MANIFEST "app.manifest"
IDR_ICON_SVG RCDATA "resources\\app_logo.svg"
IDR_CANCEL_SVG RCDATA "resources\\icon_cancel.svg"
IDR_COPY_SVG RCDATA "resources\\icon_copy.svg"
IDR_SETTINGS_SVG RCDATA "resources\\icon_settings.svg"
IDR_INFO_SVG RCDATA "resources\\icon_info.svg"
IDR_BILIBILI_SVG RCDATA "resources\\icon_bilibili.svg"
IDR_GITHUB_SVG RCDATA "resources\\icon_github.svg"
IDR_PAYMENT_PNG RCDATA "resources\\support_qr.png"
IDR_DARK_MODE_SVG RCDATA "resources\\icon_dark_mode.svg"
IDR_REDUCE_SVG RCDATA "resources\\icon_minimize.svg"
