#include "resource.h"

IDI_APP ICON "icon.ico"
1 RT_MANIFEST "app.manifest"
IDR_ICON_SVG RCDATA "..\\icon.svg"
IDR_CANCEL_SVG RCDATA "..\\ic_public_cancel.svg"
IDR_COPY_SVG RCDATA "..\\ic_public_copy.svg"
IDR_SETTINGS_SVG RCDATA "..\\ic_public_settings.svg"
IDR_INFO_SVG RCDATA "..\\ic_public_detail.svg"
IDR_BILIBILI_SVG RCDATA "..\\bilibili.svg"
IDR_GITHUB_SVG RCDATA "..\\github.svg"
IDR_PAYMENT_PNG RCDATA "..\\fukuan.png"
